In [1]:
#Bibliotecas
import pandas as pd
from pandas_datareader import data as web
import numpy as np
from datetime import datetime
from time import  sleep
import matplotlib.pyplot as plt
from alpha_vantage.timeseries import TimeSeries

In [2]:
#chave alphavantage
key = 'MPZJMIFCGV0CEWLX'

In [14]:
def extrai_preco(tickers, inic, fim):
  dfs = []
  contador = 0
  for ticker in tickers:
    contador = contador + 1
    if contador %5 == 0:
      sleep(65)
    try:
      df_preco = web.DataReader(ticker, 'av-daily-adjusted', start = inic, end=fim, api_key=(key))
      df_preco = pd.DataFrame({ticker:df_preco['adjusted close']})
      df_preco.index = pd.to_datetime(df_preco.index, format ='%Y-%m-%d').to_period('D')
      dfs.append(df_preco)
    except:
      print(ticker)
      continue
  return pd.concat(dfs, axis = 1)

In [15]:
dt_inic = datetime(2020,6,1)
dt_fim = datetime(2021,11,26)

acoes = ['PRIO3.SAO','RAIZ4.SAO', 'ITUB4.SAO','IGTA3.SAO', 'ARZZ3.SAO','ENGI11.SAO','SLCE3.SAO','WEGE3.SAO','GGBR4.SAO','PSSA3.SAO']

df_precos = extrai_preco(acoes, dt_inic, dt_fim)

In [16]:
df_precos.shape

(371, 10)

In [18]:
df_precos

,PRIO3.SAO,RAIZ4.SAO,ITUB4.SAO,IGTA3.SAO,ARZZ3.SAO,ENGI11.SAO,SLCE3.SAO,WEGE3.SAO,GGBR4.SAO,PSSA3.SAO
2020-06-01,6.258,NaN,19.4385,34.5734,42.2845,45.3711,24.7566,20.7825,13.52,21.5506
2020-06-02,6.718,NaN,20.7448,34.6918,46.4339,45.4680,24.3169,20.9106,14.36,22.0011
2020-06-03,6.496,NaN,21.2953,36.8323,46.1770,45.9818,23.8868,20.9994,15.34,24.0053
2020-06-04,6.784,NaN,21.9115,36.3391,44.8136,45.5940,23.8485,21.5909,15.36,23.6652
2020-06-05,7.454,NaN,22.3962,36.8816,45.5447,45.9237,23.0360,21.8522,15.17,23.9732
...,...,...,...,...,...,...,...,...,...,...
2021-11-22,21.530,5.63,22.0700,NaN,73.2700,42.8600,40.7000,34.6700,25.43,22.1100
2021-11-23,22.670,5.67,22.4400,NaN,71.0700,43.7000,40.7000,34.1600,25.58,22.3800
2021-11-24,21.900,5.57,23.0400,NaN,71.3000,44.3700,41.6000,33.5300,26.00,22.5200
2021-11-25,22.080,6.08,23.2500,NaN,71.8100,45.0500,42.5700,33.8000,26.24,23.5400
2021-11-26,19.980,5.94,22.7500,NaN,68.7500,44.2100,40.6000,32.6500,25.51,22.8500

In [19]:
df_precos.dropna()

,PRIO3.SAO,RAIZ4.SAO,ITUB4.SAO,IGTA3.SAO,ARZZ3.SAO,ENGI11.SAO,SLCE3.SAO,WEGE3.SAO,GGBR4.SAO,PSSA3.SAO
2021-08-05,17.27,7.2235,24.7319,39.54,92.00,42.21,43.46,35.8420,30.740,26.1868
2021-08-06,17.47,7.0838,25.4244,39.51,93.60,42.30,42.73,36.2218,31.360,26.1769
2021-08-09,17.58,7.0539,25.7212,39.85,92.90,42.46,43.25,36.1419,30.960,26.4091
2021-08-10,18.72,7.0838,25.2348,38.36,92.10,41.61,43.05,36.0719,31.740,26.1621
2021-08-11,18.30,6.8544,25.5151,38.94,91.98,41.54,43.55,36.1319,31.509,27.2639
...,...,...,...,...,...,...,...,...,...,...
2021-11-12,24.36,6.5200,22.7679,34.14,78.04,43.43,45.93,35.6500,25.400,24.7200
2021-11-16,23.51,6.0200,22.5303,33.08,73.68,43.33,43.56,35.3800,25.440,24.5500
2021-11-17,23.06,5.8500,22.6194,32.20,70.57,42.01,41.98,35.7700,25.320,24.1800
2021-11-18,22.04,5.8400,22.2432,33.07,73.00,42.34,41.27,35.9200,24.280,23.8300
2021-11-19,21.46,5.9300,22.0154,33.13,76.01,42.99,40.76,35.7900,24.790,22.9600

In [8]:
#df_precos.drop('RAIZ4.SAO', axis=1, inplace=True)

In [22]:
df_precos.dropna().to_csv("port_acoes.csv")